# ignore all
*
# but not these
!.gitignore
!*.py
!*.md
!*.png

# include entire folder "lines_found" with all contents
!assets/
!assets/**
!star_data/
!star_data/**
#!lines_found_air/
#!lines_found_air/**
#!lines_found_vacuum/
#!lines_found_vacuum/**